<html>
<head>
<title>The servers are {{ saltyness }}% salty. </title>
</head>
<body>
<p>The servers are {{ saltyness }}% salty. 

{% for role,result in context_dict.iteritems %}
{% if forloop.first %}
<p><table border="1" style="display: inline-block;">
{% endif %}
{% if result.env in 'qa' %}
<td>{{ role }} </td>
<td>{{ result.status }}</td>
</tr>
{% if forloop.last %}
</table>
{% endif %}
{% endif %}
{% endfor %}


{% for role,result in context_dict.iteritems %}
{% if forloop.first %}
<table border="1" style="display: inline-block;">
{% endif %}
{% if result.env in 'stg' %}
<td>{{ role }} </td>
<td>{{ result.status }}</td>
</tr>
{% if forloop.last %}
</table>
{% endif %}
{% endif %}
{% endfor %}

{% for role,result in context_dict.iteritems %}
{% if forloop.first %}
<table border="1" style="display: inline-block;">
{% endif %}
{% if result.env in 'prd' %}
<td>{{ role }} </td>
<td>{{ result.status }}</td>
</tr>
{% if forloop.last %}
</table>
{% endif %}
{% endif %}
{% endfor %}

</body>
</html>
